* {
	box-sizing: border-box;
}

h1 {
	font-family: Brushstroke, fantasy;
	text-align: center;
	margin: 50px;
}

body {
	background-color: #add8e6;

}

p {
	padding: 10px;
	margin: 0;
}

#section1, #section2, #section3 {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#section1 .content, #section2 .content, #section3 .content {
	border:	1px solid black;
	background-color: gray;
	width: 100%;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}



#section1 .title {
	border: 1px solid black;
	text-align: center;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: pink;
	color: black;
}

#section2 .title {
	border: 1px solid black;
	text-align: center;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: yellow;
	color:black;
}


#section3 .title {
	border: 1px solid black;
	text-align: center;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: red;
	color: white;
	padding: 5px;
}
@media (min-width: 992px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 33%;
	} 
}

@media (min-width:768px) and (max-width: 991px) {
	#section1, #section2, #section3 {
		display: inline-block;
	} 

	#section1, #section2 {
		width: 49%;
	}

	#section3 {
		width: 98%;
	}

}

@media (max-width: 767px) {
	#section1, #section2, #section3 {
		display: inline-block;
		width: 100%;
	} 

}
